<settings xmlns="http://maven.apache.org/SETTINGS/3.9.6"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/3.9.6
                      https://maven.apache.org/xsd/settings-3.9.6.xsd">
  <servers>
    <!-- paste maven package feed credentials section here !-->
  </servers>
</settings>
